# Data Cleaning: Handling missing values

- [Review](#Short-Review)
- [Take a look at our data](#Take-a-look-at-our-data)
- [Dropping missing values](#Dropping-missing-values)
- [Filling missing values with specified values](#Filling-missing-values)
- [More Practice](#More-Practice)
- [Handling Missing Value Level 2](#Handling-Missing-Value-Level-2)

In [2]:
# import standard libraries
import pandas as pd
import numpy as np

### Short Review

Here are a few convinient methods to deal with missing data in Pandas

In [7]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

`DataFrame.dropna()` axis parameter defaults to 0 (rows). Drops rows that has `nan` 

axis=1 means drop columns containing `nan`

In [8]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [9]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

`thresh` parameter set the number of `nan` to be considered before a col/ row is droppedZ

In [10]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

`DataFrame.fillna` replaces `nan` with the specified values

In [11]:
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

Common methods are to fill the missing values with the mean of the row or the column

(Usually columns)

In [12]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [16]:
df.iloc[1].fillna(value=df.iloc[1].mean())

A    2.0
B    2.0
C    2.0
Name: 1, dtype: float64

the `method` parameter allows you so specify

`bfill`: backfill which replace all NA's the value that comes directly **AFTER** it in the same column

`ffill`: front fill which replace all NA's the value that comes directly **BEFORE** it in the same column,

In [18]:
df.fillna(method='bfill')

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [19]:
df.fillna(method='ffill')

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3

# Take a look at our data

We are using the following datasets from https://www.kaggle.com/rtatman/data-cleaning-challenge-handling-missing-values/data
- `NFL Play by Play 2009-2017 (v4).csv`
- `Building_Permits.csv`

In [20]:
nfl_data = pd.read_csv("data/day_1/NFL Play by Play 2009-2017 (v4).csv")

c:\users\adam.ilyas\appdata\local\continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
nfl_data.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

`pandas.DataFrame.isnull()` or `pandas.Series.isnull()` returns `True` for values that are `null`

Notes: NaN stands for not a number
Because `nan` is (literally) not a number, you can't do arithmetic with it, so the result of the second operation is also not a number (`nan`)
`np.nan != np.nan`

In [22]:
nfl_data.isnull().head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,True,False

In [23]:
nfl_data.isnull().sum()

Date                                0
GameID                              0
Drive                               0
qtr                                 0
down                            61154
time                              224
TimeUnder                           0
TimeSecs                          224
PlayTimeDiff                      444
SideofField                       528
yrdln                             840
yrdline100                        840
ydstogo                             0
ydsnet                              0
GoalToGo                          840
FirstDown                       28811
posteam                         24992
DefensiveTeam                   24992
desc                                2
PlayAttempted                       0
Yards.Gained                        0
sp                                  0
Touchdown                           0
ExPointResult                  397578
TwoPointConv                   407083
DefTwoPoint                    407664
Safety                              0
Onsidekick                          0
PuntResult                     385317
PlayType                            0
                                ...
AwayTeam                            0
Timeout_Indicator                   0
Timeout_Team                        0
posteam_timeouts_pre                0
HomeTimeouts_Remaining_Pre          0
AwayTimeouts_Remaining_Pre          0
HomeTimeouts_Remaining_Post         0
AwayTimeouts_Remaining_Post         0
No_Score_Prob                     176
Opp_Field_Goal_Prob               176
Opp_Safety_Prob                   176
Opp_Touchdown_Prob                176
Field_Goal_Prob                   176
Safety_Prob                       176
Touchdown_Prob                    176
ExPoint_Prob                        0
TwoPoint_Prob                       0
ExpPts                            176
EPA                               369
airEPA                         248394
yacEPA                         248498
Home_WP_pre                     24954
Away_WP_pre                     24954
Home_WP_post                    26587
Away_WP_post                    26587
Win_Prob                        25009
WPA                              5541
airWPA                         248501
yacWPA                         248762
Season                              0
Length: 102, dtype: int64

# Dropping missing values

using `DataFrame.drop()`

We can specify the `axis` parameter to be 0 (rows) or 1 (columns)
and `thresh`, How many `nan` value to be considered for a row/ column to be dropped

In [24]:
nfl_data.dropna(axis=0) # drop based on row

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [25]:
nfl_data.dropna(axis=1) # drop based on column

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
5,2009-09-10,2009091000,2,1,14,10,0,1,0,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
6,2009-09-10,2009091000,2,1,13,10,4,1,4,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
7,2009-09-10,2009091000,2,1,13,6,2,1,-2,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
8,2009-09-10,2009091000,2,1,12,8,2,1,11,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
9,2009-09-10,2009091000,3,1,12,10,3,1,3,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
10,2009-09-10,2009091000,3,1,11,7,13,1,10,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
11,2009-09-10,2009091000,3,1,11,10,12,1,-1,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
12,2009-09-10,2009091000,3,1,10,11,21,1,9,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
13,2009-09-10,2009091000,3,1,10,2,2,1,-19,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
14,2009-09-10,2009091000,3,1,9,21,2,1,0,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
15,2009-09-10,2009091000,4,1,9,10,70,1,32,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
16,2009-09-10,2009091000,4,1,8,10,67,1,20,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
17,2009-09-10,2009091000,4,1,8,10,70,1,3,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
18,2009-09-10,2009091000,4,1,7,7,70,1,0,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
19,2009-09-10,2009091000,4,1,7,7,70,1,0,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
20,2009-09-10,2009091000,4,1,7,7,70,1,0,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
21,2009-09-10,2009091000,5,1,7,10,1,1,1,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
22,2009-09-10,2009091000,5,1,7,9,3,1,2,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
23,2009-09-10,2009091000,5,1,6,7,-6,1,-9,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
24,2009-09-10,2009091000,5,1,6,16,-6,1,0,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
25,2009-09-10,2009091000,6,1,5,10,10,1,10,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
26,2009-09-10,2009091000,6,1,5,10,14,1,24,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
27,2009-09-10,2009091000,6,1,5,15,14,1,9,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
28,2009-09-10,2009091000,6,1,4,6,17,1,3,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
29,2009-09-10,2009091000,6,1,4,3,25,1,8,0,...,0,None,3,3,3,3,3,0.000000,0.0,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407658,2017-12-31,2017123101,27,4,6,10,31,1,19,0,...,0,None,3,3,1,3,1,0.000000,0.0,2017
407659,2017-12-31,2017123101,27,4,5,10,31,1,0,0,...,0,None,3,3,1,3,1,0.000000,0.0,2017
407660,2017-12-31,2017123101,27,4,4,10,34,1,3,0,...,0,None,3,3,1,3,1,0.000000,0.0,2017
407661,2017-12-31,2017123101,27,4,3,7,34,1,0,0,...,0,None,3,3,1,3,1,0.000000,0.0,2017
407662,2017-12-31,2017123101,27,4,3,7,34,1,0,0,...,0,None,3,3,1,3,1,0.000000,0.0,2017
407663,2017-12-31,2017123101,28,4,3,10,3,1,3,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407664,2017-12-31,2017123101,28,4,3,7,23,1,9,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407665,2017-12-31,2017123101,28,4,3,10,12,1,0,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407666,2017-12-31,2017123101,28,4,3,10,23,1,11,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407667,2017-12-31,2017123101,28,4,3,10,23,1,0,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407668,2017-12-31,2017123101,28,4,2,0,23,1,0,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407669,2017-12-31,2017123101,28,4,2,10,33,1,0,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407670,2017-12-31,2017123101,28,4,2,10,38,1,5,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407671,2017-12-31,2017123101,28,4,2,5,43,1,0,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407672,2017-12-31,2017123101,28,4,2,5,43,1,0,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407673,2017-12-31,2017123101,28,4,2,10,38,1,0,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407674,2017-12-31,2017123101,28,4,2,15,38,1,0,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407675,2017-12-31,2017123101,28,4,2,15,38,1,0,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407676,2017-12-31,2017123101,28,4,1,15,41,1,3,0,...,0,None,1,3,1,3,1,0.000000,0.0,2017
407677,2017-12-31,2017123101,28,4,1,0,41,1,0,0,...,1,CIN,1,3,1,3,0,0.000000,0.0,2017
407678,2017-12-31,2017123101,28,4,1,12,90,1,49,1,...,0,None,0,3,0,3,0,0.000000,0.0,2017
407679,2017-12-31,2017123101,28,4,1,0,90,1,0,1,...,0,None,0,3,0,3,0,0.931115,0.0,2017
407680,2017-12-31,2017123101,29,4,1,0,0,1,26,0,...,0,None,3,3,0,3,0,0.000000,0.0,2017
407681,2017-12-31,2017123101,29,4,1,10,5,1,5,0,...,0,None,3,3,0,3,0,0.000000,0.0,2017
407682,2017-12-31,2017123101,29,4,1,5,-4,1,-9,0,...,0,None,3,3,0,3,0,0.000000,0.0,2017
407683,2017-12-31,2017123101,29,4,1,0,-4,1,0,0,...,1,BAL,0,3,0,2,0,0.000000,0.0,2017
407684,2017-12-31,2017123101,29,4,1,14,-4,1,0,0,...,0,None,2,2,0,2,0,0.000000,0.0,2017
407685,2017-12-31,2017123101,29,4,1,14,9,1,13,0,...,0,None,2,2,0,2,0,0.000000,0.0,2017
407686,2017-12-31,2017123101,30,4,1,10,-1,1,-1,0,...,0,None,0,2,0,2,0,0.000000,0.0,2017
407687,2017-12-31,2017123101,30,4,0,0,-1,1,0,0,...,0,None,0,2,0,2,0,0.000000,0.0,2017

In [26]:
# just how much data did we lose?
columns_with_na_dropped = nfl_data.dropna(axis=1)
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 102

Columns with na's dropped: 41

We've lost quite a bit of data, but at this point we have successfully removed all the `nan` from our data.

# Filling missing values

`fillna(value)` replaces `nan` with the specified `value`

In [27]:
# get a small subset of the NFL dataset
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head()
subset_nfl_data

# replace all NA's with 0
subset_nfl_data.fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

In [28]:
# replace all NA's the value that comes directly after it in the same column, 
subset_nfl_data.fillna(method = 'bfill', axis=0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [29]:
# replace all NA's the value that comes directly BEFORE it in the same column, 
subset_nfl_data.fillna(method = 'ffill', axis=0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,-1.068169,1.146076,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,-0.032244,0.036899,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,3.318841,-5.031425,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.106663,-0.156239,2009

# More Practice

- [More Practice](#More-Practice)

### Let's take a look at our other dataset

- `Building_Permits.csv`

In [31]:
sf_permits = pd.read_csv("data/day_1/Building_Permits.csv")

c:\users\adam.ilyas\appdata\local\continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
# take a look at some sample rows of our dataframe
sf_permits.sample(5)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
37617,201401287272,8,otc alterations permit,01/28/2014,0492,029,3344,NaN,Fillmore,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Marina,94123.0,"(37.80056426061426, -122.43583150725264)",133103571832
108197,201512084420,8,otc alterations permit,12/08/2015,0321,016,650,NaN,Ellis,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,6.0,Tenderloin,94109.0,"(37.78461816669083, -122.41700445197698)",1405738233881
31021,201311131832,8,otc alterations permit,11/13/2013,1098,050,350,NaN,Saint Josephs,Av,...,3.0,constr type 3,3.0,constr type 3,NaN,2.0,Western Addition,94115.0,"(37.78271181446859, -122.44114748875998)",1324097490502
54757,201407151313,8,otc alterations permit,07/15/2014,0628,013,2100,NaN,Webster,St,...,1.0,constr type 1,1.0,constr type 1,NaN,2.0,Pacific Heights,94115.0,"(37.790525673066014, -122.43214036978819)",1348954438585
38343,201402057858,8,otc alterations permit,02/05/2014,1434,036,324,NaN,03rd,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,1.0,Inner Richmond,94118.0,"(37.78262380051993, -122.46084368107293)",133180099620

In [34]:
sf_permits.isnull().sum()

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Number Suffix                      196684
Street Name                                    0
Street Suffix                               2768
Unit                                      169421
Unit Suffix                               196939
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Structural Notification                   191978
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Voluntary Soft-Story Retrofit             198865
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
TIDF Compliance                           198898
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Site Permit                               193541
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

In [41]:
total_cells = sf_permits.shape[0] * sf_permits.shape[1]
total_missing = sf_permits.isnull().sum().sum()

print("Shape: {0}\nTotal Cells: {1}\nTotal Missing Values: {2}\nPercentage Missing Values: {3}"
      .format(sf_permits.shape, total_cells, total_missing, total_missing/total_cells*100))

Shape: (198900, 43)
Total Cells: 8552700
Total Missing Values: 2245941
Percentage Missing Values: 26.26002315058403

Let's try removing all the **rows** from the sf_permits dataset that contain missing values

*This will cause use to drop everything as each row has at least 1 missing value :(*

In [46]:
drop_na_rows = sf_permits.dropna()

total_cells = drop_na_rows.shape[0] * drop_na_rows.shape[1]
total_missing = drop_na_rows.isnull().sum().sum()

print("Shape: {0}\nTotal Cells: {1}\nTotal Missing Values: {2}\nPercentage Missing Values: {3}"
      .format(drop_na_rows.shape, total_cells, total_missing, total_missing/total_cells*100))

Shape: (0, 43)
Total Cells: 0
Total Missing Values: 0
Percentage Missing Values: nan

c:\users\adam.ilyas\appdata\local\continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in longlong_scalars
  import sys

try dropping columns

*From 42 columns to only 12 columns*

In [47]:
drop_na_cols = sf_permits.dropna(axis=1)

total_cells = drop_na_cols.shape[0] * drop_na_cols.shape[1]
total_missing = drop_na_cols.isnull().sum().sum()

print("Shape: {0}\nTotal Cells: {1}\nTotal Missing Values: {2}\nPercentage Missing Values: {3}"
      .format(drop_na_cols.shape, total_cells, total_missing, total_missing/total_cells*100))

Shape: (198900, 12)
Total Cells: 2386800
Total Missing Values: 0
Percentage Missing Values: 0.0

Replacing all the NaN's in the `sf_permits` data with the one that comes directly after it and then replacing any remaining NaN's with 0

In [49]:
sf_permits.fillna(method="ffill").fillna(0)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,0,Ellis,St,...,3.0,constr type 3,0.0,0,0,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,0,Geary,St,...,3.0,constr type 3,0.0,0,0,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,0,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,0,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,0,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),0,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,0,Market,St,...,3.0,constr type 3,5.0,wood frame (5),0,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992
5,201706149344,8,otc alterations permit,06/14/2017,4105,009,800,0,Indiana,St,...,1.0,constr type 1,1.0,constr type 1,0,10.0,Potrero Hill,94107.0,"(37.75922331346539, -122.39170402628598)",1466911170855
6,201706300814,8,otc alterations permit,06/30/2017,1739,020,1291,0,11th,Av,...,5.0,wood frame (5),5.0,wood frame (5),0,5.0,Inner Sunset,94122.0,"(37.764145640138565, -122.46875112470363)",1468970403692
7,M803667,8,otc alterations permit,06/30/2017,4789,014,1465,0,Revere,Av,...,5.0,wood frame (5),5.0,wood frame (5),0,10.0,Bayview Hunters Point,94124.0,"(37.73005099023611, -122.38784938916618)",1469035175050
8,M804227,8,otc alterations permit,07/05/2017,1212,054,2094,0,Fell,St,...,5.0,wood frame (5),5.0,wood frame (5),0,5.0,Lone Mountain/USF,94117.0,"(37.772393498502595, -122.45231466824669)",1469198253772
9,M804767,8,otc alterations permit,07/06/2017,1259,016,89,0,Alpine,Tr,...,5.0,wood frame (5),5.0,wood frame (5),0,8.0,Haight Ashbury,94117.0,"(37.7691724293766, -122.43734859051908)",146932394171
10,M805287,8,otc alterations permit,07/06/2017,3541,001,106,0,Sanchez,St,...,5.0,wood frame (5),5.0,wood frame (5),0,8.0,Castro/Upper Market,94114.0,"(37.767349757757145, -122.43140682973024)",1469445246849
11,M805907,8,otc alterations permit,07/07/2017,0829,021,675,0,Fell,St,...,5.0,wood frame (5),5.0,wood frame (5),0,5.0,Hayes Valley,94102.0,"(37.774914087334544, -122.42886839796792)",146961582526
12,M806447,8,otc alterations permit,07/10/2017,6537,023,4082,0,25th,St,...,5.0,wood frame (5),5.0,wood frame (5),0,8.0,Noe Valley,94114.0,"(37.75006779619502, -122.43127350268124)",1469781206718
13,201707252846,8,otc alterations permit,07/25/2017,6589,002R,681,0,27th,St,...,5.0,wood frame (5),5.0,wood frame (5),0,8.0,Noe Valley,94131.0,"(37.7462205625642, -122.4353484860549)",1471799208305
14,M813729,8,otc alterations permit,07/26/2017,1049,027,2761,0,Pine,St,...,5.0,wood frame (5),5.0,wood frame (5),0,2.0,Pacific Heights,94115.0,"(37.78676200041077, -122.44124093333335)",147203988249
15,M813907,8,otc alterations permit,07/27/2017,0243,043,840,0,Powell,St,...,5.0,wood frame (5),5.0,wood frame (5),0,3.0,Chinatown,94108.0,"(37.7926690651263, -122.40883941791454)",147208763456
16,M813967,8,otc alterations permit,07/27/2017,0268,008,220,0,Montgomery,St,...,5.0,wood frame (5),5.0,wood frame (5),0,3.0,Financial District/South Beach,94104.0,"(37.79130641988351, -122.40198579459195)",147211866168
17,M814148,8,otc alterations permit,07/27/2017,3621,097,3707,0,21st,St,...,5.0,wood frame (5),5.0,wood frame (5),0,8.0,Noe Valley,94114.0,"(37.75607840165479, -122.43041143390109)",1472184412108
18,201707283165,8,otc alterations permit,07/28/2017,0472,042,1307,0,Bay,St,...,5.0,wood frame (5),5.0,wood frame (5),0,2.0,Marina,94123.0,"(37.8035183252307, -122.42863180996076)",1472277302360
19,M814368,8,otc alterations permit,07/28/2017,2659,001,263,0,Corbett,Av,...,5.0,wood frame (5),5.0,wood frame (5),0,8.0,Castro/Upper Market,94114.0,"(37.761092365437214, -122.44402154957145)",1472295408612
20,M814967,8,otc alterations permit,07/31/2017,1176,068,1624,0,Fulton,St,...,5.0,wood frame (5),5.0,wood frame (5),0,5.0,Lone Mountain/USF,94117.0,"(37.77640228859421, -122.44361679686382)",1472619503582
21,201708013476,8,otc alterations permit,08/01/2017,6529,010,3410,0,26th,St,...,5.0,wood frame (5),5.0,wood frame (5),0,9.0,Mission,94110.0,"(37.74914175355125, -122.41849211166853)",1472727381751
22,201708013544,3,additions alterations or repairs,08/01/2017,0074,043,2150,0,Taylor,St,...,5.0,wood frame (5),5.0,wood frame (5),0,3.0,Russian Hill,94133.0,"(37.802405951667645, -122.41446286561653)",147281357792
23,M816927,8,otc alterations permit,08/07/2017,0941,012,2824,0,Filbert,St,...,5.0,wood frame (5),5.0,wood frame (5),0,2.0,Marina,94123.0,"(37.79697456740493, -122.44615769723546)",147359384812
24,201708084249,8,otc alterations permit,08/08/2017,0542,039,1,0,Charlton,Ct,...,5.0,wood frame (5),5.0,wood frame (5),0,2.0,Marina,94123.0,"(37.79739093461306, -122.43127133823367)",1473796372030
25,201708165014,8,otc alterations permit,08/16/2017,1824,006,1435,0,29th,Av,...,5.0,wood frame (5),5.0,wood frame (5),0,4.0,Sunset/Parkside,94122.0,"(37.76052279949518, -122.4879889739165)",1474841115935
26,M820728,8,otc alterations permit,08/18/2017,1449,006,331,0,17th,Av,...,5.0,wood frame (5),5.0,wood frame (5),0,1.0,Outer Richmond,94121.0,"(37.78177022745135, -122.47658979438802)",1475223100163
27,M821207,8,otc alterations permit,08/21/2017,1193,024,120,0,Shrader,St,...,5.0,wood frame (5),5.0,wood frame (5),0,5.0,Lone Mountain/USF,94117.0,"(37.77371007080848, -122.45243180846707)",147537591942
28,M821268,8,otc alterations permit,08/21/2017,1851,012,1512,0,06th,Av,...,5.0,wood frame (5),5.0,wood frame (5),0,7.0,Inner Sunset,94122.0,"(37.760252335082875, -122.4625393396095)",1475405117215
29,M821847,8,otc alterations permit,08/22/2017,0326,001,165,0,Powell,St,...,5.0,wood frame (5),5.0,wood frame (5),0,3.0,Tenderloin,94102.0,"(37.78625524960107, -122.40834431815433)",1475605447747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198870,M893328,8,otc alterations permit,02/23/2018,0025,024,888,A,North Point,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,2.0,Russian Hill,94109.0,"(37.8057495627139, -122.42181538597318)",1498327347381
198871,M893347,8,otc alterations permit,02/23/2018,1253,001,701,A,Clayton,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,5.0,Haight Ashbury,94117.0,"(37.76869660680249, -122.44864582118123)",1498328241068
198872,201802232165,8,otc alterations permit,02/23/2018,3543,012,2123,A,Market,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,8.0,Castro/Upper Market,94114.0,"(37.76682151637876, -122.42926240167795)",1498329423799
198873,201802232166,8,otc alterations permit,02/23/2018,5723,041,100,A,Tompkins,Av,...,5.0,wood frame (5),5.0,wood frame (5),Y,9.0,Bernal Heights,94110.0,"(37.73708421334594, -122.4157759256698)",1498330475722
198874,201802232106,8,otc alterations permit,02/23/2018,6592,023,336,A,Duncan,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,8.0,Noe Valley,94131.0,"(37.746231746880696, -122.4285179313817)",1498331399024
198875,201802232167,8,otc alterations permit,02/23/2018,0807,010,580,A,Hayes,St,...,5.0,wood frame (5),1.0,constr type 1,Y,5.0,Hayes Valley,94102.0,"(37.776756688343944, -122.4260292019233)",149833282001
198876,M893367,8,otc alterations permit,02/23/2018,1213,013,500,A,Stanyan,St,...,5.0,wood frame (5),1.0,constr type 1,Y,5.0,Lone Mountain/USF,94117.0,"(37.77277103274044, -122.45392960440346)",149833392632
198877,201802232169,8,otc alterations permit,02/23/2018,7103,020,91,A,Lobos,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,11.0,Oceanview/Merced/Ingleside,94112.0,"(37.7146765393289, -122.45557353560899)",1498334221586
198878,201802232170,8,otc alterations permit,02/23/2018,3641,016,3134,A,24th,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,9.0,Mission,94110.0,"(37.752661001157854, -122.41485533400166)",1498335409431
198879,201802232171,8,otc alterations permit,02/23/2018,6082,009,350,A,Paris,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,11.0,Excelsior,94112.0,"(37.72324934238285, -122.43409219261636)",1498336195616
198880,M893387,8,otc alterations permit,02/23/2018,1841,025D,1442,A,Funston,Av,...,5.0,wood frame (5),5.0,wood frame (5),Y,7.0,Inner Sunset,94122.0,"(37.76117190796411, -122.47007880106999)",1498337116842
198881,M893407,8,otc alterations permit,02/23/2018,0018,004,2300,A,Stockton,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,3.0,North Beach,94133.0,"(37.80747140583783, -122.41024025753224)",1498338347099
198882,201802232172,8,otc alterations permit,02/23/2018,6021,001B,730,A,Excelsior,Av,...,5.0,wood frame (5),5.0,wood frame (5),Y,11.0,Excelsior,94112.0,"(37.723206757170836, -122.42763728105176)",1498339194341
198883,M893427,8,otc alterations permit,02/23/2018,0315,021,377,A,Geary,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,3.0,Tenderloin,94102.0,"(37.78696971667916, -122.40936701144197)",149834069380
198884,M893447,8,otc alterations permit,02/23/2018,3504,030,1699,A,Market,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,6.0,Mission,94103.0,"(37.77217130976155, -122.42193576313322)",1498341156230
198885,201802232173,8,otc alterations permit,02/23/2018,2150,001A,2007,A,30th,Av,...,5.0,wood frame (5),5.0,wood frame (5),Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",1498342127659
198886,201709066971,3,additions alterations or repairs,09/06/2017,0999,025,3191,A,Washington,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",1477559238559
198887,201710040362,8,otc alterations permit,10/04/2017,0750,001,1521,A,Eddy,St,...,1.0,constr type 1,1.0,constr type 1,Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",1482126434174
198888,201710110995,8,otc alterations permit,10/11/2017,0726,019,1410,A,Steiner,St,...,1.0,constr type 1,1.0,constr type 1,Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",1483035367814
198889,201710242114,8,otc alterations permit,10/24/2017,1654,035,748,A,12th,Av,...,5.0,wood frame (5),5.0,wood frame (5),Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",1484587273155
198890,201711274822,3,additions alterations or repairs,11/27/2017,3803,001,185,A,Berry,St,...,1.0,constr type 1,1.0,constr type 1,Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",1488352388160
198891,201711274844,8,otc alterations permit,11/27/2017,0766,008,590,A,Van Ness,Av,...,3.0,constr type 3,3.0,constr type 3,Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",148838081446
198892,201712045380,8,otc alterations permit,12/04/2017,1180,021,1543,A,Mcallister,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",148916691540
198893,201712055472,8,otc alterations permit,12/05/2017,1000,014,3018,A,Clay,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",1489281258414
198894,201712055493,8,otc alterations permit,12/05/2017,3522,006,340,A,12th,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",1489308256860
198895,M862628,8,otc alterations permit,12/05/2017,0113,017A,1228,A,Montgomery,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",1489337276729
198896,201712055595,8,otc alterations permit,12/05/2017,0271,014,580,A,Bush,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",1489462354993
198897,M863507,8,otc alterations permit,12/06/2017,4318,019,1568,A,Indiana,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",1489539379952
198898,M863747,8,otc alterations permit,12/06/2017,0298,029,795,A,Sutter,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",1489608233656
198899,M864287,8,otc alterations permit,12/07/2017,0160,006,838,A,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),Y,4.0,Sunset/Parkside,94116.0,"(37.74976582284573, -122.48824447038214)",1489796283803